html {
	height:100%;
	width: 100%;
}
body {
	font-size:12px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Monaco";
	text-align: center;
	overflow:hidden;
}


#header {
    font-family: 'Lobster';
    font-size: 20px;
    text-align: center; 
    color: #02B3E4;

    height: 5%;
}
#header p{
	margin-top: 10px;
}
body {
    background-color: #2c475e;
}

.screen {
	font-family: "Monaco";
	color: black;
	border: 2px solid black;
	height: 85%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow:scroll;
}


.song {
	border: 2px solid black;
	text-align: left;
	padding-left: 1%;
	
}

.searchbar{
	border: 2px solid black;
	background-color: #2C4758;

}

#tabs{
	height: 10%;

}

.tab {
	margin: 0;
	left: 0;
	border: 1px solid black;
	display:inline;
	height: 100%;
	width: 49%;
}

ul {
	list-style-type:none;
	padding-left: 0;
	margin:0;
	padding:0;
}

li {
	list-style-type:none;

	margin: 0;
	padding: 0;
}



#passcode {
}

.box {
	font-family: "Monaco";
	position: relative;
	display: inline;
	height: 50px;
	width: 50px;
	font-size: 32px;
	text-align: center;
}

/* Hide HTML5 Up and Down arrows. */
#id input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
#id input[type="number"] {
    -moz-appearance: textfield;
} 

/* CSS for the join room button */
#joinButton {
	font-family: "Monaco";
	font-size: 20px;
	margin-top: 15px;
	text-align: center;
	padding: 5px 15px;
	background-color: #F5F5F5;
	border-radius: 18px;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 2px solid;
}

#joinButton:hover {
    background-color: #555555;
    color: #E0FFFF;
    border-color: #555555;
}

#joinButton:focus {
	outline: none;
	background-color: #555555;
    color: #E0FFFF;
    border-color: #555555;
}


/*search bar fanciness*/
.searchbar input {
	outline: none;
	margin: 9px;
}
.searchbar input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.searchbar input::-webkit-search-decoration,
.searchbar input::-webkit-search-cancel-button {
	display: none; 
}

.searchbar input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 50%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.searchbar input[type=search]:focus {
	width: 78%;
	background-color: #fff;
	border-color: #02B3E4;
	
	-webkit-box-shadow: 0 0 10px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 10px rgba(109,207,246,.5);
	box-shadow: 0 0 10px rgba(109,207,246,.5);
}

.searchbar input:-moz-placeholder {
	color: #999;
}
.searchbar input::-webkit-input-placeholder {
	color: #999;
}










.tracks {
  display: flex;
  flex-flow: column wrap;
  font-family:'Montserrat';
  font-weight:200;
}

.tracks__heading {
  color: #c9c9c9;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tracks__heading__number {
  margin-left: 10px;
  
}

.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}

.tracks .track {
  border-top: 1px solid #40698c;
  border-left: 1px solid #40698c;
  border-right: 1px solid #40698c;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #345470;
}

.tracks .track:hover {
  background: #40698c;
}

.tracks .track:last-child {
  border-bottom: 1px solid #40698c;
}

.tracks .track__art img {
  width: 42px;
  height: 42px;
}

.tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}

.tracks .track__title {
  width: 45%;
  margin-left: 10px;
  color: white;
  text-align: left;

}


.tracks .track__length {
  margin-left: auto;
  
  color: #aaaaaa;
}

.tracks .track__divider {
  /*margin-left: auto;*/
  margin-right: 10px;
  margin-left: 10px;
  color: #aaaaaa;

}
.tracks .track__status {
 /*margin-left: auto;*/
 margin-right: 52px;
 color: #aaaaaa;
}